In [44]:
import pandas as pd
train = pd.read_csv("train1.csv")

In [45]:
train.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Deck,Family_Size,Fare_Per_Person,Age*Class
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Unknown,S,Mr,Unknown,1,3.62500,66.0
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,C,1,35.64165,38.0
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,S,Miss,Unknown,0,7.92500,78.0
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,C,1,26.55000,35.0
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Unknown,S,Mr,Unknown,0,8.05000,105.0

In [46]:
good_columns = [c for c in train if c not in ['Unnamed', 'Survived', 'Name', 'Ticket', 'Age', 'SibSp', 'Parch', 'Fare']]
target = "Survived"
good_columns

['Unnamed: 0',
 'PassengerId',
 'Pclass',
 'Sex',
 'Cabin',
 'Embarked',
 'Title',
 'Deck',
 'Family_Size',
 'Fare_Per_Person',
 'Age*Class']

In [47]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for column in good_columns:
    if train[column].dtype == 'object':
        le.fit(train[column])
        train[column] = le.transform(train[column])

In [48]:
train[good_columns]

,Unnamed: 0,PassengerId,Pclass,Sex,Cabin,Embarked,Title,Deck,Family_Size,Fare_Per_Person,Age*Class
0,0,1,3,1,147,2,2,8,1,3.625000,66.000000
1,1,2,1,0,81,0,3,2,1,35.641650,38.000000
2,2,3,3,0,147,2,1,8,0,7.925000,78.000000
3,3,4,1,0,55,2,3,2,1,26.550000,35.000000
4,4,5,3,1,147,2,2,8,0,8.050000,105.000000
5,5,6,3,1,147,1,2,8,0,8.458300,89.097353
6,6,7,1,1,129,2,2,4,0,51.862500,54.000000
7,7,8,3,1,147,2,0,8,4,4.215000,6.000000
8,8,9,3,0,147,2,3,8,2,3.711100,81.000000
9,9,10,2,0,147,0,3,8,1,15.035400,28.000000
10,10,11,3,0,145,2,1,6,2,5.566667,12.000000
11,11,12,1,0,49,2,1,2,0,26.550000,58.000000
12,12,13,3,1,147,2,2,8,0,8.050000,60.000000
13,13,14,3,1,147,2,2,8,6,4.467857,117.000000
14,14,15,3,0,147,2,1,8,0,7.854200,42.000000
15,15,16,2,0,147,2,3,8,0,16.000000,110.000000
16,16,17,3,1,147,1,0,8,5,4.854167,6.000000
17,17,18,2,1,147,2,2,8,0,13.000000,59.398235
18,18,19,3,0,147,2,3,8,1,9.000000,93.000000
19,19,20,3,0,147,0,3,8,0,7.225000,89.097353
20,20,21,2,1,147,2,2,8,0,26.000000,70.000000
21,21,22,2,1,111,2,2,3,0,13.000000,68.000000
22,22,23,3,0,147,1,1,8,0,8.029200,45.000000
23,23,24,1,1,13,2,2,0,0,35.500000,28.000000
24,24,25,3,0,147,2,1,8,4,4.215000,24.000000
25,25,26,3,0,147,2,3,8,6,4.483929,114.000000
26,26,27,3,1,147,0,2,8,0,7.225000,89.097353
27,27,28,1,1,63,2,2,2,5,43.833333,19.000000
28,28,29,3,0,147,1,1,8,0,7.879200,89.097353
29,29,30,3,1,147,2,2,8,0,7.895800,89.097353
...,...,...,...,...,...,...,...,...,...,...,...
861,861,862,2,1,147,2,2,8,1,5.750000,42.000000
862,862,863,1,0,94,2,3,3,0,25.929200,48.000000
863,863,864,3,0,147,2,1,8,10,6.322727,89.097353
864,864,865,2,1,147,2,2,8,0,13.000000,48.000000
865,865,866,2,0,147,2,3,8,0,13.000000,84.000000
866,866,867,2,0,147,0,1,8,1,6.929150,54.000000
867,867,868,1,1,6,2,2,0,0,50.495800,31.000000
868,868,869,3,1,147,2,2,8,0,9.500000,89.097353
869,869,870,3,1,147,2,0,8,2,3.711100,12.000000
870,870,871,3,1,147,2,2,8,0,7.895800,78.000000
871,871,872,1,0,102,2,3,3,2,17.518067,47.000000
872,872,873,1,1,34,2,2,1,0,5.000000,33.000000
873,873,874,3,1,147,2,2,8,0,9.000000,141.000000
874,874,875,2,0,147,0,3,8,1,12.000000,56.000000
875,875,876,3,0,147,0,1,8,0,7.225000,45.000000
876,876,877,3,1,147,2,2,8,0,9.845800,60.000000
877,877,878,3,1,147,2,2,8,0,7.895800,57.000000
878,878,879,3,1,147,2,2,8,0,7.895800,89.097353
879,879,880,1,0,70,0,3,2,1,41.579150,56.000000
880,880,881,2,0,147,2,3,8,1,13.000000,50.000000
881,881,882,3,1,147,2,2,8,0,7.895800,99.000000
882,882,883,3,0,147,2,1,8,0,10.516700,66.000000
883,883,884,2,1,147,2,2,8,0,10.500000,56.000000
884,884,885,3,1,147,2,2,8,0,7.050000,75.000000
885,885,886,3,0,147,1,3,8,5,4.854167,117.000000
886,886,887,2,1,147,2,2,8,0,13.000000,54.000000
887,887,888,1,0,30,2,1,1,0,30.000000,19.000000
888,888,889,3,0,147,2,1,8,3,5.862500,89.097353
889,889,890,1,1,60,0,2,2,0,30.000000,26.000000
890,890,891,3,1,147,1,2,8,0,7.750000,96.000000

In [49]:
import numpy as np
from sklearn.model_selection import train_test_split

trainT, trainTest = train_test_split(train, test_size = 0.2)

In [50]:
len(trainT)
trainT

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Deck,Family_Size,Fare_Per_Person,Age*Class
867,867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,6,2,2,0,0,50.495800,31.000000
679,679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",1,36.000000,0,1,PC 17755,512.3292,34,0,2,1,1,256.164600,36.000000
634,634,635,0,3,"Skoog, Miss. Mabel",0,9.000000,3,2,347088,27.9000,147,2,1,8,5,4.650000,27.000000
817,817,818,0,2,"Mallet, Mr. Albert",1,31.000000,1,1,S.C./PARIS 2079,37.0042,147,0,2,8,2,12.334733,62.000000
652,652,653,0,3,"Kalvik, Mr. Johannes Halvorsen",1,21.000000,0,0,8475,8.4333,147,2,2,8,0,8.433300,63.000000
571,571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",0,53.000000,2,0,11769,51.4792,48,2,3,2,2,17.159733,53.000000
593,593,594,0,3,"Bourke, Miss. Mary",0,29.699118,0,2,364848,7.7500,147,1,1,8,2,2.583333,89.097353
645,645,646,1,1,"Harper, Mr. Henry Sleeper",1,48.000000,1,0,PC 17572,76.7292,101,0,2,3,1,38.364600,48.000000
741,741,742,0,1,"Cavendish, Mr. Tyrell William",1,36.000000,1,0,19877,78.8500,67,2,2,2,1,39.425000,36.000000
329,329,330,1,1,"Hippach, Miss. Jean Gertrude",0,16.000000,0,1,111361,57.9792,17,0,1,1,1,28.989600,16.000000
26,26,27,0,3,"Emir, Mr. Farred Chehab",1,29.699118,0,0,2631,7.2250,147,0,2,8,0,7.225000,89.097353
8,8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,147,2,3,8,2,3.711100,81.000000
304,304,305,0,3,"Williams, Mr. Howard Hugh ""Harry""",1,29.699118,0,0,A/5 2466,8.0500,147,2,2,8,0,8.050000,89.097353
733,733,734,0,2,"Berriman, Mr. William John",1,23.000000,0,0,28425,13.0000,147,2,2,8,0,13.000000,46.000000
528,528,529,0,3,"Salonen, Mr. Johan Werner",1,39.000000,0,0,3101296,7.9250,147,2,2,8,0,7.925000,117.000000
860,860,861,0,3,"Hansen, Mr. Claus Peter",1,41.000000,2,0,350026,14.1083,147,2,2,8,2,4.702767,123.000000
252,252,253,0,1,"Stead, Mr. William Thomas",1,62.000000,0,0,113514,26.5500,83,2,2,2,0,26.550000,62.000000
386,386,387,0,3,"Goodwin, Master. Sidney Leonard",1,1.000000,5,2,CA 2144,46.9000,147,2,0,8,7,5.862500,3.000000
105,105,106,0,3,"Mionoff, Mr. Stoytcho",1,28.000000,0,0,349207,7.8958,147,2,2,8,0,7.895800,84.000000
74,74,75,1,3,"Bing, Mr. Lee",1,32.000000,0,0,1601,56.4958,147,2,2,8,0,56.495800,96.000000
163,163,164,0,3,"Calic, Mr. Jovo",1,17.000000,0,0,315093,8.6625,147,2,2,8,0,8.662500,51.000000
778,778,779,0,3,"Kilgannon, Mr. Thomas J",1,29.699118,0,0,36865,7.7375,147,1,2,8,0,7.737500,89.097353
76,76,77,0,3,"Staneff, Mr. Ivan",1,29.699118,0,0,349208,7.8958,147,2,2,8,0,7.895800,89.097353
548,548,549,0,3,"Goldsmith, Mr. Frank John",1,33.000000,1,1,363291,20.5250,147,2,2,8,2,6.841667,99.000000
389,389,390,1,2,"Lehmann, Miss. Bertha",0,17.000000,0,0,SC 1748,12.0000,147,0,1,8,0,12.000000,34.000000
23,23,24,1,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,13,2,2,0,0,35.500000,28.000000
577,577,578,1,1,"Silvey, Mrs. William Baird (Alice Munger)",0,39.000000,1,0,13507,55.9000,128,2,3,4,1,27.950000,39.000000
623,623,624,0,3,"Hansen, Mr. Henry Damsgaard",1,21.000000,0,0,350029,7.8542,147,2,2,8,0,7.854200,63.000000
477,477,478,0,3,"Braund, Mr. Lewis Richard",1,29.000000,1,0,3460,7.0458,147,2,2,8,1,3.522900,87.000000
152,152,153,0,3,"Meo, Mr. Alfonzo",1,55.500000,0,0,A.5. 11206,8.0500,147,2,2,8,0,8.050000,166.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,147,0,1,8,0,7.225000,45.000000
519,519,520,0,3,"Pavlovic, Mr. Stefo",1,32.000000,0,0,349242,7.8958,147,2,2,8,0,7.895800,96.000000
328,328,329,1,3,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",0,31.000000,1,1,363291,20.5250,147,2,3,8,2,6.841667,93.000000
605,605,606,0,3,"Lindell, Mr. Edvard Bengtsson",1,36.000000,1,0,349910,15.5500,147,2,2,8,1,7.775000,108.000000
414,414,415,1,3,"Sundman, Mr. Johan Julian",1,44.000000,0,0,STON/O 2. 3101269,7.9250,147,2,2,8,0,7.925000,132.000000
108,108,109,0,3,"Rekic, Mr. Tido",1,38.000000,0,0,349249,7.8958,147,2,2,8,0,7.895800,114.000000
639,639,640,0,3,"Thorneycroft, Mr. Percival",1,29.699118,1,0,376564,16.1000,147,2,2,8,1,8.050000,89.097353
705,705,706,0,2,"Morley, Mr. Henry Samuel (""Mr Henry Marshall"")",1,39.000000,0,0,250655,26.0000,147,2,2,8,0,26.000000,78.000000
51,51,52,0,3,"Nosworthy, Mr. Richard Cater",1,21.000000,0,0,A/4. 39886,7.8000,147,2,2,8,0,7.800000,63.000000
748,748,749,0,1,"Marvin, Mr. Daniel Warner",1,19.000000,1,0,113773,53.1000,100,2,2,3,1,26.550000,19.000000
579,579,580,1,3,"Jussila, Mr. Eiriik",1,32.000000,0,0,STON/O 2. 3101286,7.9250,147,2,2,8,0,7.925000,96.000000
219,219,220,0,2,"Harris, Mr. Walter",1,30.000000,0,0,W/C 14208,10.5000,147,2,2,8,0,10.500000,60.000000
282,282,283,0,3,"de Pelsmaeker, Mr. Alfons",1,16.000000,0,0,345778,9.5000,147,2,2,8,0,9.500000,48.000000
405,405,406,0,2,"Gale, Mr. Shadrach",1,34.000000,1,0,28664,21.0000,147,2,2,8,1,10.500000,68.000000
833,833,834,0,3,"Augustsson, Mr. Albert",1,23.000000,0,0,347468,7.8542,147,2,2,8,0,7.854200,69.000000
276,276,277,0,3,"Lindblom, Miss. Augusta Charlotta",0,45.000000,0,0,347073,7.7500,147,2,1,8,0,7.750000,135.000000
745,745,746,0,1,"Crosby, Capt. Edward Gifford",1,70.000000,1,1,WE/P 5735,71.0000,20,2,2,1,2,23.666667,70.000000
872,872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,34,2,2,1,0,5.000000,33.000000
12,12,13,0,3,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,147,2,2,8,0,8.050000,60.000000
600,600,601,1,2,"Jacobsohn, Mrs. Sidney Samuel (Amy Frances Chr...",0,24.000000,2,1,243847,27.0000,147,2,3,8,3,6.750000,48.000000
65,65,66,1,3,"Moubarek, Master. Gerios",1,29.699118,1,1,2661,15.2458,147,0,0,8,2,5.081933,89.097353
560,560,561,0,3,"Morrow, Mr. Thomas Rowan",1,29.699118,0,0,372622,7.7500,147,1,2,8,0,7.750000,89.097353
688,688,689,0,3,"Fischer, Mr. Eberhard Thelander",1,18.000000,0,0,350036,7.7958,147,2,2,8,0,7.795800,54.000000
357,357,358,0,2,"Funk, Miss. Annie Clemmer",0,38.000000,0,0,237671,13.0000,147,2,1,8,0,13.000000,76.000000
330,330,331,1,3,"McCoy, Miss. Agnes",0,29.699118,2,0,367226,23.2500,147,1,1,8,2,7.750000,89.097353
318,318,319,1,1,"Wick, Miss. Mary Natalie",0,31.000000,0,2,36928,164.8667,76,2,1,2,2,54.955567,31.000000
224,224,225,1,1,"Hoyt, Mr. Frederick Maxfield",1,38.000000,1,0,19943,90.0000,87,2,2,2,1,45.000000,38.000000
759,759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",0,33.000000,0,0,110152,86.5000,40,2,3,1,0,86.500000,33.000000
72,72,73,0,2,"Hood, Mr. Ambrose Jr",1,21.000000,0,0,S.O.C. 14879,73.5000,147,2,2,8,0,73.500000,42.000000
887,887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,30,2,1,1,0,30.000000,19.000000

In [51]:
len(trainTest)

179

In [52]:
len(train)

891

In [53]:
from sklearn.linear_model import LinearRegression
model = LinearRegression(fit_intercept=False)
model.fit(trainT[good_columns], trainT[target])

LogisticRegression(C=100000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [54]:
predict = model.predict(trainTest[good_columns])

In [55]:
predict

array([0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0], dtype=int64)

In [56]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(trainTest['Survived'], predict))
rms

0.41615424729527806

In [57]:
test = pd.read_csv("test1.csv")

In [58]:
good_columns = [c for c in test if c not in ['Unnamed', 'Survived', 'Name', 'Ticket', 'Age', 'SibSp', 'Parch', 'Fare']]
target = "Survived"
good_columns

['Unnamed: 0',
 'PassengerId',
 'Pclass',
 'Sex',
 'Cabin',
 'Embarked',
 'Title',
 'Deck',
 'Family_Size',
 'Fare_Per_Person',
 'Age*Class']

In [59]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for column in good_columns:
    if test[column].dtype == 'object':
        le.fit(test[column])
        test[column] = le.transform(test[column])

In [60]:
test[good_columns]

,Unnamed: 0,PassengerId,Pclass,Sex,Cabin,Embarked,Title,Deck,Family_Size,Fare_Per_Person,Age*Class
0,0,892,3,1,76,1,2,7,0,7.829200,103.500000
1,1,893,3,0,76,2,3,7,1,3.500000,141.000000
2,2,894,2,1,76,1,2,7,0,9.687500,124.000000
3,3,895,3,1,76,2,2,7,0,8.662500,81.000000
4,4,896,3,0,76,2,3,7,2,4.095833,66.000000
5,5,897,3,1,76,2,2,7,0,9.225000,42.000000
6,6,898,3,0,76,1,1,7,0,7.629200,90.000000
7,7,899,2,1,76,2,2,7,2,9.666667,52.000000
8,8,900,3,0,76,0,3,7,0,7.229200,54.000000
9,9,901,3,1,76,2,2,7,2,8.050000,63.000000
10,10,902,3,1,76,2,2,7,0,7.895800,90.817771
11,11,903,1,1,76,2,2,7,0,26.000000,46.000000
12,12,904,1,0,12,2,3,1,1,41.133350,23.000000
13,13,905,2,1,76,2,2,7,1,13.000000,126.000000
14,14,906,1,0,60,2,3,4,1,30.587500,47.000000
15,15,907,2,0,76,0,3,7,1,13.860400,48.000000
16,16,908,2,1,76,1,2,7,0,12.350000,70.000000
17,17,909,3,1,76,0,2,7,0,7.225000,63.000000
18,18,910,3,0,76,2,1,7,1,3.962500,81.000000
19,19,911,3,0,76,0,3,7,0,7.225000,135.000000
20,20,912,1,1,76,0,2,7,1,29.700000,55.000000
21,21,913,3,1,76,2,0,7,1,1.585400,27.000000
22,22,914,1,0,76,2,3,7,0,31.683300,30.272590
23,23,915,1,1,76,0,2,7,1,30.689600,21.000000
24,24,916,1,0,15,0,3,1,4,52.475000,48.000000
25,25,917,3,1,76,2,2,7,1,7.250000,150.000000
26,26,918,1,0,10,0,1,1,1,30.989600,22.000000
27,27,919,3,1,76,0,2,7,0,7.225000,67.500000
28,28,920,1,1,2,2,2,0,0,30.500000,41.000000
29,29,921,3,1,76,0,2,7,2,7.226400,90.817771
...,...,...,...,...,...,...,...,...,...,...,...
388,388,1280,3,1,76,1,2,7,0,7.750000,63.000000
389,389,1281,3,1,76,2,0,7,4,4.215000,18.000000
390,390,1282,1,1,8,2,2,1,0,93.500000,23.000000
391,391,1283,1,0,53,2,3,3,1,19.700000,51.000000
392,392,1284,3,1,76,2,0,7,2,6.750000,39.000000
393,393,1285,2,1,76,2,2,7,0,10.500000,94.000000
394,394,1286,3,1,76,2,2,7,4,4.405000,87.000000
395,395,1287,1,0,30,2,3,2,1,30.000000,18.000000
396,396,1288,3,1,76,1,2,7,0,7.250000,72.000000
397,397,1289,1,0,11,0,3,1,2,26.400000,48.000000
398,398,1290,3,1,76,2,2,7,0,7.775000,66.000000
399,399,1291,3,1,76,1,2,7,0,7.733300,93.000000
400,400,1292,1,0,40,2,1,2,0,164.866700,30.000000
401,401,1293,2,1,76,2,2,7,1,10.500000,76.000000
402,402,1294,1,0,76,0,1,7,1,29.700000,22.000000
403,403,1295,1,1,76,2,2,7,0,47.100000,17.000000
404,404,1296,1,1,58,0,2,3,1,13.860400,43.000000
405,405,1297,2,1,57,0,2,3,0,13.862500,40.000000
406,406,1298,2,1,76,2,2,7,1,5.250000,46.000000
407,407,1299,1,1,42,0,2,2,2,70.500000,50.000000
408,408,1300,3,0,76,1,1,7,0,7.720800,90.817771
409,409,1301,3,0,76,2,1,7,2,4.591667,9.000000
410,410,1302,3,0,76,1,1,7,0,7.750000,90.817771
411,411,1303,1,0,41,1,3,2,1,45.000000,37.000000
412,412,1304,3,0,76,2,1,7,0,7.775000,84.000000
413,413,1305,3,1,76,2,2,7,0,8.050000,90.817771
414,414,1306,1,0,22,0,2,2,0,108.900000,39.000000
415,415,1307,3,1,76,2,2,7,0,7.250000,115.500000
416,416,1308,3,1,76,2,2,7,0,8.050000,90.817771
417,417,1309,3,1,76,0,0,7,2,7.452767,90.817771

In [61]:
predict = model.predict(test[good_columns])

In [62]:
predict

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1], dtype=int64)