In [147]:
import pandas as pd
train = pd.read_csv("train1.csv")

In [148]:
train.head()

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Deck,Family_Size,Fare_Per_Person,Age*Class
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,Unknown,S,Mr,Unknown,1,3.62500,66.0
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,C,1,35.64165,38.0
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,Unknown,S,Miss,Unknown,0,7.92500,78.0
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,C,1,26.55000,35.0
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,Unknown,S,Mr,Unknown,0,8.05000,105.0

In [149]:
good_columns = [c for c in train if c not in ['Unnamed', 'Survived', 'Name', 'Ticket', 'Age', 'SibSp', 'Parch', 'Fare', 'PassengerId']]
target = "Survived"
good_columns

['Unnamed: 0',
 'Pclass',
 'Sex',
 'Cabin',
 'Embarked',
 'Title',
 'Deck',
 'Family_Size',
 'Fare_Per_Person',
 'Age*Class']

In [150]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for column in good_columns:
    if train[column].dtype == 'object':
        le.fit(train[column])
        train[column] = le.transform(train[column])

In [151]:
train[good_columns]

,Unnamed: 0,Pclass,Sex,Cabin,Embarked,Title,Deck,Family_Size,Fare_Per_Person,Age*Class
0,0,3,1,147,2,2,8,1,3.625000,66.000000
1,1,1,0,81,0,3,2,1,35.641650,38.000000
2,2,3,0,147,2,1,8,0,7.925000,78.000000
3,3,1,0,55,2,3,2,1,26.550000,35.000000
4,4,3,1,147,2,2,8,0,8.050000,105.000000
5,5,3,1,147,1,2,8,0,8.458300,89.097353
6,6,1,1,129,2,2,4,0,51.862500,54.000000
7,7,3,1,147,2,0,8,4,4.215000,6.000000
8,8,3,0,147,2,3,8,2,3.711100,81.000000
9,9,2,0,147,0,3,8,1,15.035400,28.000000
10,10,3,0,145,2,1,6,2,5.566667,12.000000
11,11,1,0,49,2,1,2,0,26.550000,58.000000
12,12,3,1,147,2,2,8,0,8.050000,60.000000
13,13,3,1,147,2,2,8,6,4.467857,117.000000
14,14,3,0,147,2,1,8,0,7.854200,42.000000
15,15,2,0,147,2,3,8,0,16.000000,110.000000
16,16,3,1,147,1,0,8,5,4.854167,6.000000
17,17,2,1,147,2,2,8,0,13.000000,59.398235
18,18,3,0,147,2,3,8,1,9.000000,93.000000
19,19,3,0,147,0,3,8,0,7.225000,89.097353
20,20,2,1,147,2,2,8,0,26.000000,70.000000
21,21,2,1,111,2,2,3,0,13.000000,68.000000
22,22,3,0,147,1,1,8,0,8.029200,45.000000
23,23,1,1,13,2,2,0,0,35.500000,28.000000
24,24,3,0,147,2,1,8,4,4.215000,24.000000
25,25,3,0,147,2,3,8,6,4.483929,114.000000
26,26,3,1,147,0,2,8,0,7.225000,89.097353
27,27,1,1,63,2,2,2,5,43.833333,19.000000
28,28,3,0,147,1,1,8,0,7.879200,89.097353
29,29,3,1,147,2,2,8,0,7.895800,89.097353
...,...,...,...,...,...,...,...,...,...,...
861,861,2,1,147,2,2,8,1,5.750000,42.000000
862,862,1,0,94,2,3,3,0,25.929200,48.000000
863,863,3,0,147,2,1,8,10,6.322727,89.097353
864,864,2,1,147,2,2,8,0,13.000000,48.000000
865,865,2,0,147,2,3,8,0,13.000000,84.000000
866,866,2,0,147,0,1,8,1,6.929150,54.000000
867,867,1,1,6,2,2,0,0,50.495800,31.000000
868,868,3,1,147,2,2,8,0,9.500000,89.097353
869,869,3,1,147,2,0,8,2,3.711100,12.000000
870,870,3,1,147,2,2,8,0,7.895800,78.000000
871,871,1,0,102,2,3,3,2,17.518067,47.000000
872,872,1,1,34,2,2,1,0,5.000000,33.000000
873,873,3,1,147,2,2,8,0,9.000000,141.000000
874,874,2,0,147,0,3,8,1,12.000000,56.000000
875,875,3,0,147,0,1,8,0,7.225000,45.000000
876,876,3,1,147,2,2,8,0,9.845800,60.000000
877,877,3,1,147,2,2,8,0,7.895800,57.000000
878,878,3,1,147,2,2,8,0,7.895800,89.097353
879,879,1,0,70,0,3,2,1,41.579150,56.000000
880,880,2,0,147,2,3,8,1,13.000000,50.000000
881,881,3,1,147,2,2,8,0,7.895800,99.000000
882,882,3,0,147,2,1,8,0,10.516700,66.000000
883,883,2,1,147,2,2,8,0,10.500000,56.000000
884,884,3,1,147,2,2,8,0,7.050000,75.000000
885,885,3,0,147,1,3,8,5,4.854167,117.000000
886,886,2,1,147,2,2,8,0,13.000000,54.000000
887,887,1,0,30,2,1,1,0,30.000000,19.000000
888,888,3,0,147,2,1,8,3,5.862500,89.097353
889,889,1,1,60,0,2,2,0,30.000000,26.000000
890,890,3,1,147,1,2,8,0,7.750000,96.000000

In [152]:
import numpy as np
from sklearn.model_selection import train_test_split

trainT, trainTest = train_test_split(train, test_size = 0.2)

In [153]:
len(trainT)
trainT

,Unnamed: 0,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,Deck,Family_Size,Fare_Per_Person,Age*Class
352,352,353,0,3,"Elias, Mr. Tannous",1,15.000000,1,1,2695,7.2292,147,0,2,8,2,2.409733,45.000000
49,49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",0,18.000000,1,0,349237,17.8000,147,2,3,8,1,8.900000,54.000000
696,696,697,0,3,"Kelly, Mr. James",1,44.000000,0,0,363592,8.0500,147,2,2,8,0,8.050000,132.000000
648,648,649,0,3,"Willey, Mr. Edward",1,29.699118,0,0,S.O./P.P. 751,7.5500,147,2,2,8,0,7.550000,89.097353
780,780,781,1,3,"Ayoub, Miss. Banoura",0,13.000000,0,0,2687,7.2292,147,0,1,8,0,7.229200,39.000000
883,883,884,0,2,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,147,2,2,8,0,10.500000,56.000000
427,427,428,1,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",0,19.000000,0,0,250655,26.0000,147,2,3,8,0,26.000000,38.000000
68,68,69,1,3,"Andersson, Miss. Erna Alexandra",0,17.000000,4,2,3101281,7.9250,147,2,1,8,6,1.132143,51.000000
504,504,505,1,1,"Maioni, Miss. Roberta",0,16.000000,0,0,110152,86.5000,42,2,1,1,0,86.500000,16.000000
440,440,441,1,2,"Hart, Mrs. Benjamin (Esther Ada Bloomfield)",0,45.000000,1,1,F.C.C. 13529,26.2500,147,2,3,8,2,8.750000,90.000000
838,838,839,1,3,"Chip, Mr. Chang",1,32.000000,0,0,1601,56.4958,147,2,2,8,0,56.495800,96.000000
391,391,392,1,3,"Jansson, Mr. Carl Olof",1,21.000000,0,0,350034,7.7958,147,2,2,8,0,7.795800,63.000000
423,423,424,0,3,"Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria ...",0,28.000000,1,1,347080,14.4000,147,2,3,8,2,4.800000,84.000000
414,414,415,1,3,"Sundman, Mr. Johan Julian",1,44.000000,0,0,STON/O 2. 3101269,7.9250,147,2,2,8,0,7.925000,132.000000
840,840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",1,20.000000,0,0,SOTON/O2 3101287,7.9250,147,2,2,8,0,7.925000,60.000000
372,372,373,0,3,"Beavan, Mr. William Thomas",1,19.000000,0,0,323951,8.0500,147,2,2,8,0,8.050000,57.000000
322,322,323,1,2,"Slayter, Miss. Hilda Mary",0,30.000000,0,0,234818,12.3500,147,1,1,8,0,12.350000,60.000000
713,713,714,0,3,"Larsson, Mr. August Viktor",1,29.000000,0,0,7545,9.4833,147,2,2,8,0,9.483300,87.000000
67,67,68,0,3,"Crease, Mr. Ernest James",1,19.000000,0,0,S.P. 3464,8.1583,147,2,2,8,0,8.158300,57.000000
715,715,716,0,3,"Soholt, Mr. Peter Andreas Lauritz Andersen",1,19.000000,0,0,348124,7.6500,140,2,2,5,0,7.650000,57.000000
877,877,878,0,3,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,147,2,2,8,0,7.895800,57.000000
604,604,605,1,1,"Homer, Mr. Harry (""Mr E Haven"")",1,35.000000,0,0,111426,26.5500,147,0,2,8,0,26.550000,35.000000
589,589,590,0,3,"Murdlin, Mr. Joseph",1,29.699118,0,0,A./5. 3235,8.0500,147,2,2,8,0,8.050000,89.097353
508,508,509,0,3,"Olsen, Mr. Henry Margido",1,28.000000,0,0,C 4001,22.5250,147,2,2,8,0,22.525000,84.000000
703,703,704,0,3,"Gallagher, Mr. Martin",1,25.000000,0,0,36864,7.7417,147,1,2,8,0,7.741700,75.000000
284,284,285,0,1,"Smith, Mr. Richard William",1,29.699118,0,0,113056,26.0000,3,2,2,0,0,26.000000,29.699118
543,543,544,1,2,"Beane, Mr. Edward",1,32.000000,1,0,2908,26.0000,147,2,2,8,1,13.000000,64.000000
730,730,731,1,1,"Allen, Miss. Elisabeth Walton",0,29.000000,0,0,24160,211.3375,32,2,1,1,0,211.337500,29.000000
619,619,620,0,2,"Gavey, Mr. Lawrence",1,26.000000,0,0,31028,10.5000,147,2,2,8,0,10.500000,52.000000
860,860,861,0,3,"Hansen, Mr. Claus Peter",1,41.000000,2,0,350026,14.1083,147,2,2,8,2,4.702767,123.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,16,17,0,3,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,147,1,0,8,5,4.854167,6.000000
785,785,786,0,3,"Harmer, Mr. Abraham (David Lishin)",1,25.000000,0,0,374887,7.2500,147,2,2,8,0,7.250000,75.000000
832,832,833,0,3,"Saad, Mr. Amin",1,29.699118,0,0,2671,7.2292,147,0,2,8,0,7.229200,89.097353
888,888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,29.699118,1,2,W./C. 6607,23.4500,147,2,1,8,3,5.862500,89.097353
752,752,753,0,3,"Vande Velde, Mr. Johannes Joseph",1,33.000000,0,0,345780,9.5000,147,2,2,8,0,9.500000,99.000000
750,750,751,1,2,"Wells, Miss. Joan",0,4.000000,1,1,29103,23.0000,147,2,1,8,2,7.666667,8.000000
699,699,700,0,3,"Humblen, Mr. Adolf Mathias Nicolai Olsen",1,42.000000,0,0,348121,7.6500,139,2,2,5,0,7.650000,126.000000
213,213,214,0,2,"Givard, Mr. Hans Kristensen",1,30.000000,0,0,250646,13.0000,147,2,2,8,0,13.000000,60.000000
412,412,413,1,1,"Minahan, Miss. Daisy E",0,33.000000,1,0,19928,90.0000,78,1,1,2,1,45.000000,33.000000
260,260,261,0,3,"Smith, Mr. Thomas",1,29.699118,0,0,384461,7.7500,147,1,2,8,0,7.750000,89.097353
802,802,803,1,1,"Carter, Master. William Thornton II",1,11.000000,1,2,113760,120.0000,47,2,0,1,3,30.000000,11.000000
693,693,694,0,3,"Saad, Mr. Khalil",1,25.000000,0,0,2672,7.2250,147,0,2,8,0,7.225000,75.000000
193,193,194,1,2,"Navratil, Master. Michel M",1,3.000000,1,1,230080,26.0000,141,2,0,5,2,8.666667,6.000000
518,518,519,1,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",0,36.000000,1,0,226875,26.0000,147,2,3,8,1,13.000000,72.000000
188,188,189,0,3,"Bourke, Mr. John",1,40.000000,1,1,364849,15.5000,147,1,2,8,2,5.166667,120.000000
569,569,570,1,3,"Jonsson, Mr. Carl",1,32.000000,0,0,350417,7.8542,147,2,2,8,0,7.854200,96.000000
92,92,93,0,1,"Chaffee, Mr. Herbert Fuller",1,46.000000,1,0,W.E.P. 5734,61.1750,122,2,2,4,1,30.587500,46.000000
618,618,619,1,2,"Becker, Miss. Marion Louise",0,4.000000,2,1,230136,39.0000,144,2,1,5,3,9.750000,8.000000
695,695,696,0,2,"Chapman, Mr. Charles Henry",1,52.000000,0,0,248731,13.5000,147,2,2,8,0,13.500000,104.000000
463,463,464,0,2,"Milling, Mr. Jacob Christian",1,48.000000,0,0,234360,13.0000,147,2,2,8,0,13.000000,96.000000
417,417,418,1,2,"Silven, Miss. Lyyli Karoliina",0,18.000000,0,2,250652,13.0000,147,2,1,8,2,4.333333,36.000000
332,332,333,0,1,"Graham, Mr. George Edward",1,38.000000,0,1,PC 17582,153.4625,85,2,2,2,1,76.731250,38.000000
652,652,653,0,3,"Kalvik, Mr. Johannes Halvorsen",1,21.000000,0,0,8475,8.4333,147,2,2,8,0,8.433300,63.000000
603,603,604,0,3,"Torber, Mr. Ernst William",1,44.000000,0,0,364511,8.0500,147,2,2,8,0,8.050000,132.000000
675,675,676,0,3,"Edvardsson, Mr. Gustaf Hjalmar",1,18.000000,0,0,349912,7.7750,147,2,2,8,0,7.775000,54.000000
510,510,511,1,3,"Daly, Mr. Eugene Patrick",1,29.000000,0,0,382651,7.7500,147,1,2,8,0,7.750000,87.000000
488,488,489,0,3,"Somerton, Mr. Francis William",1,30.000000,0,0,A.5. 18509,8.0500,147,2,2,8,0,8.050000,90.000000
345,345,346,1,2,"Brown, Miss. Amelia ""Mildred""",0,24.000000,0,0,248733,13.0000,142,2,1,5,0,13.000000,48.000000
677,677,678,1,3,"Turja, Miss. Anna Sofia",0,18.000000,0,0,4138,9.8417,147,2,1,8,0,9.841700,54.000000
141,141,142,1,3,"Nysten, Miss. Anna Sofia",0,22.000000,0,0,347081,7.7500,147,2,1,8,0,7.750000,66.000000

In [154]:
len(trainTest)

179

In [155]:
len(train)

891

In [156]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)
model.fit(trainT[good_columns], trainT[target])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [157]:
predict = model.predict(trainTest[good_columns])

In [158]:
predict

array([0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1], dtype=int64)

In [159]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(trainTest['Survived'], predict))
rms

0.43582580703557733

In [160]:
test = pd.read_csv("test1.csv")

In [161]:
good_columns = [c for c in test if c not in ['Unnamed', 'Survived', 'Name', 'Ticket', 'Age', 'SibSp', 'Parch', 'Fare', 'PassengerId']]
target = "Survived"
good_columns

['Unnamed: 0',
 'Pclass',
 'Sex',
 'Cabin',
 'Embarked',
 'Title',
 'Deck',
 'Family_Size',
 'Fare_Per_Person',
 'Age*Class']

In [162]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

for column in good_columns:
    if test[column].dtype == 'object':
        le.fit(test[column])
        test[column] = le.transform(test[column])

In [163]:
test[good_columns]

,Unnamed: 0,Pclass,Sex,Cabin,Embarked,Title,Deck,Family_Size,Fare_Per_Person,Age*Class
0,0,3,1,76,1,2,7,0,7.829200,103.500000
1,1,3,0,76,2,3,7,1,3.500000,141.000000
2,2,2,1,76,1,2,7,0,9.687500,124.000000
3,3,3,1,76,2,2,7,0,8.662500,81.000000
4,4,3,0,76,2,3,7,2,4.095833,66.000000
5,5,3,1,76,2,2,7,0,9.225000,42.000000
6,6,3,0,76,1,1,7,0,7.629200,90.000000
7,7,2,1,76,2,2,7,2,9.666667,52.000000
8,8,3,0,76,0,3,7,0,7.229200,54.000000
9,9,3,1,76,2,2,7,2,8.050000,63.000000
10,10,3,1,76,2,2,7,0,7.895800,90.817771
11,11,1,1,76,2,2,7,0,26.000000,46.000000
12,12,1,0,12,2,3,1,1,41.133350,23.000000
13,13,2,1,76,2,2,7,1,13.000000,126.000000
14,14,1,0,60,2,3,4,1,30.587500,47.000000
15,15,2,0,76,0,3,7,1,13.860400,48.000000
16,16,2,1,76,1,2,7,0,12.350000,70.000000
17,17,3,1,76,0,2,7,0,7.225000,63.000000
18,18,3,0,76,2,1,7,1,3.962500,81.000000
19,19,3,0,76,0,3,7,0,7.225000,135.000000
20,20,1,1,76,0,2,7,1,29.700000,55.000000
21,21,3,1,76,2,0,7,1,1.585400,27.000000
22,22,1,0,76,2,3,7,0,31.683300,30.272590
23,23,1,1,76,0,2,7,1,30.689600,21.000000
24,24,1,0,15,0,3,1,4,52.475000,48.000000
25,25,3,1,76,2,2,7,1,7.250000,150.000000
26,26,1,0,10,0,1,1,1,30.989600,22.000000
27,27,3,1,76,0,2,7,0,7.225000,67.500000
28,28,1,1,2,2,2,0,0,30.500000,41.000000
29,29,3,1,76,0,2,7,2,7.226400,90.817771
...,...,...,...,...,...,...,...,...,...,...
388,388,3,1,76,1,2,7,0,7.750000,63.000000
389,389,3,1,76,2,0,7,4,4.215000,18.000000
390,390,1,1,8,2,2,1,0,93.500000,23.000000
391,391,1,0,53,2,3,3,1,19.700000,51.000000
392,392,3,1,76,2,0,7,2,6.750000,39.000000
393,393,2,1,76,2,2,7,0,10.500000,94.000000
394,394,3,1,76,2,2,7,4,4.405000,87.000000
395,395,1,0,30,2,3,2,1,30.000000,18.000000
396,396,3,1,76,1,2,7,0,7.250000,72.000000
397,397,1,0,11,0,3,1,2,26.400000,48.000000
398,398,3,1,76,2,2,7,0,7.775000,66.000000
399,399,3,1,76,1,2,7,0,7.733300,93.000000
400,400,1,0,40,2,1,2,0,164.866700,30.000000
401,401,2,1,76,2,2,7,1,10.500000,76.000000
402,402,1,0,76,0,1,7,1,29.700000,22.000000
403,403,1,1,76,2,2,7,0,47.100000,17.000000
404,404,1,1,58,0,2,3,1,13.860400,43.000000
405,405,2,1,57,0,2,3,0,13.862500,40.000000
406,406,2,1,76,2,2,7,1,5.250000,46.000000
407,407,1,1,42,0,2,2,2,70.500000,50.000000
408,408,3,0,76,1,1,7,0,7.720800,90.817771
409,409,3,0,76,2,1,7,2,4.591667,9.000000
410,410,3,0,76,1,1,7,0,7.750000,90.817771
411,411,1,0,41,1,3,2,1,45.000000,37.000000
412,412,3,0,76,2,1,7,0,7.775000,84.000000
413,413,3,1,76,2,2,7,0,8.050000,90.817771
414,414,1,0,22,0,2,2,0,108.900000,39.000000
415,415,3,1,76,2,2,7,0,7.250000,115.500000
416,416,3,1,76,2,2,7,0,8.050000,90.817771
417,417,3,1,76,0,0,7,2,7.452767,90.817771

In [164]:
predict = model.predict(test[good_columns])

In [165]:
predict

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 1], dtype=int64)

In [166]:
result = pd.DataFrame(test['PassengerId'])
result['Survived'] = predict

In [167]:
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         1
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [168]:
result.to_csv("result1.csv")